<ul class="tree">
  <li *ngFor="let node of treeData">
    <div class="tree-node">
      <!-- Expand/Collapse Toggle -->
      <button class="toggle" (click)="toggleExpand(node)">
        {{ node.isExpanded ? '-' : '+' }}
      </button>
      {{ node.name }}
    </div>

    <!-- Recursively render subcategories if the node is expanded -->
    <ul *ngIf="node.isExpanded && node.subcategories?.length > 0">
      <app-category-tree [treeData]="node.subcategories"></app-category-tree>
    </ul>
  </li>
</ul>